## Creates the labels that will be used for training from knowlege Graphs

In [1]:
import pandas as pd
from random import randint
import random

In [4]:
# Loading the drug-disease interaction network
df = pd.read_csv('../data/DCh-Miner_miner-disease-chemical.tsv',sep='\t')

In [5]:
# removing the tag from drug names
df.iloc[:, 0] = [i[5:] for i in df.iloc[:,0]]

In [6]:
df

       # Disease(MESH) Chemical
0              D005923  DB00564
1              D009503  DB01072
2              D016115  DB01759
3              D018476  DB00451
4              C567059  DB00641
...                ...      ...
466652         C565545  DB00482
466653         D009164  DB00977
466654         D010518  DB04216
466655         D002653  DB02701
466656         D013119  DB04465

[466657 rows x 2 columns]

In [7]:
# loading the similarity matrices fro which labels are to be obtained
drug_df = pd.read_csv('../../data/processed_drug_simmat_SNF19.csv', index_col=0)
disease_df = pd.read_csv('../../data/processed_disease_simmat_SNF14.csv', index_col=0)

drug_names = drug_df.index
disease_names = disease_df.index

In [8]:
print(len(set(df.iloc[:,1])),len(drug_names))

1663 705

In [9]:
print(len(set(df.iloc[:,0])),len(disease_names))

5536 436

In [10]:
# Extracting the edges containing wanted drugs and diseases
df = df[df['Chemical'].isin(drug_names)]
df = df[df['# Disease(MESH)'].isin(disease_names)]
df

       # Disease(MESH) Chemical
8              D001249  DB00814
11             D009325  DB00851
12             D001943  DB00300
16             D001281  DB01394
34             D007634  DB00641
...                ...      ...
466608         D001930  DB00627
466618         D006073  DB00747
466629         D004827  DB00849
466634         D015212  DB00669
466646         D017180  DB00835

[47981 rows x 2 columns]

In [11]:
interaction_set = set([(i['# Disease(MESH)'],i['Chemical']) for j,i in df.iterrows()])
len(interaction_set)

47981

In [16]:
non_interaction_set = set()
imbalance = 2
while len(non_interaction_set) != 2*len(interaction_set):
    random_integer = randint(0, len(drug_names)-1)
    drug = (drug_names[random_integer])
    random_integer = randint(0, len(disease_names)-1)
    disease = (disease_names[random_integer])
    if (drug,disease) not in interaction_set:
        non_interaction_set.add((disease,drug))

In [17]:
non_interaction_list = list(non_interaction_set)
interaction_list = list(interaction_set)

non_interaction_df = pd.DataFrame(non_interaction_list) 
non_interaction_df[2] = [0]*len(non_interaction_df)

interaction_df = pd.DataFrame(interaction_list) 
interaction_df[2] = [1]*len(interaction_df)

df_concatenated = pd.concat([non_interaction_df, interaction_df], axis=0)
df_concatenated

             0        1  2
0      D014123  DB00601  0
1      D017118  DB00796  0
2      D011628  DB01599  0
3      D029481  DB00437  0
4      D004415  DB00969  0
...        ...      ... ..
47976  D009404  DB01393  1
47977  D003877  DB00396  1
47978  D010001  DB01174  1
47979  D020734  DB00325  1
47980  D006949  DB01580  1

[143943 rows x 3 columns]

In [18]:
df_concatenated.to_csv('../../data/labels_SNFd14_SNFd19_im2.csv')

In [ ]:
# Code to get subsets of labels..

In [14]:
interaction_count = 5000

interaction_list = list(interaction_set)
random.seed(42)
random.shuffle(interaction_list)
selected_interactions = interaction_list[:interaction_count]

In [15]:
non_interaction_list = list(non_interaction_set)
random.seed(42)
random.shuffle(non_interaction_list)
selected_non_interactions = non_interaction_list[:interaction_count]

In [16]:
non_interaction_list = selected_non_interactions
interaction_list = selected_interactions

non_interaction_df = pd.DataFrame(non_interaction_list) 
non_interaction_df[2] = [0]*len(non_interaction_df)

interaction_df = pd.DataFrame(interaction_list) 
interaction_df[2] = [1]*len(interaction_df)

df_concatenated = pd.concat([non_interaction_df, interaction_df], axis=0)
df_concatenated

            0        1  2
0     D000686  DB00472  0
1     D001171  DB00706  0
2     D007500  DB00307  0
3     D020820  DB00637  0
4     D002389  DB01577  0
...       ...      ... ..
4995  D013345  DB00853  1
4996  D001321  DB00571  1
4997  D002277  DB01242  1
4998  D012208  DB00695  1
4999  D013924  DB00537  1

[10000 rows x 3 columns]

In [17]:
df_concatenated.to_csv('labelssmall'+str(interaction_count)+'.csv')