## Code to read thorugh the knowledge graph to generate drug-gene dictionary and disease-gene dictionary

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
# loading the knowledge graph
network = pd.read_csv('../data/DG-Miner_miner-disease-gene.tsv', sep = "\t")
diseases = network['# Disease(MESH)'] 
# diseases = network['#Drug'] 
network.columns = ['a','b']
network

                     a           b
0         MESH:D005756  A0A087WZV0
1         MESH:D055370      P11464
2         MESH:D007410      Q92945
3         MESH:D014062      Q6ISS4
4         MESH:D054549      Q96RU8
...                ...         ...
15509614  MESH:D006086      E9PDE8
15509615  MESH:D002869      O95994
15509616  MESH:D009182      E9PFI4
15509617  MESH:D015433  A0A087WWV9
15509618  MESH:D009135      P51589

[15509619 rows x 2 columns]

In [3]:
# Loading the data of gene name mapping
reference = pd.read_csv('../data/reference.csv', index_col=0)
reference.index = reference['1']
reference = reference[~reference.index.duplicated(keep='first')]

In [4]:
reference

             0       1       2
1
P04217       1  P04217    A1BG
Q9NQ94   29974  Q9NQ94    A1CF
P01023       2  P01023     A2M
A8K2U0  144568  A8K2U0   A2ML1
Q9NPC4   53947  Q9NPC4  A4GALT
...        ...     ...     ...
Q6WRX3  440590  Q6WRX3  ZYG11A
Q9C0D3   79699  Q9C0D3  ZYG11B
Q15942    7791  Q15942     ZYX
O43149   23140  O43149   ZZEF1
Q8IYH5   26009  Q8IYH5    ZZZ3

[19610 rows x 3 columns]

In [5]:
print(len(set(reference['1'])))

19610

In [6]:
val_list = []
for i, j in tqdm(network.iterrows()):
    if j['b'] in reference.index:
        val_list.append(reference.loc[j['b'],'0'])
    else:
        val_list.append("null")

15509619it [14:29, 17836.97it/s]

In [7]:
val_list

['null',
 5669,
 8570,
 3904,
 10221,
 22995,
 79577,
 'null',
 'null',
 9329,
 'null',
 5875,
 4594,
 'null',
 'null',
 121793,
 4850,
 1736,
 'null',
 'null',
 3606,
 'null',
 217,
 9867,
 51192,
 4521,
 8930,
 2913,
 7415,
 23011,
 8479,
 2029,
 2631,
 7097,
 3897,
 'null',
 5411,
 9989,
 170394,
 51078,
 5563,
 63875,
 761,
 7171,
 'null',
 4085,
 41,
 'null',
 8019,
 320,
 'null',
 'null',
 'null',
 10383,
 4597,
 5931,
 5981,
 11104,
 1656,
 326625,
 157638,
 51659,
 6515,
 377677,
 2906,
 'null',
 'null',
 13,
 84620,
 24146,
 5582,
 1003,
 10840,
 1917,
 83482,
 23295,
 5326,
 5695,
 'null',
 85452,
 1848,
 4250,
 51291,
 54842,
 90423,
 84513,
 23220,
 79754,
 'null',
 9329,
 3709,
 9712,
 55884,
 5089,
 55771,
 125988,
 5320,
 1633,
 91404,
 54540,
 'null',
 55699,
 3852,
 5623,
 26018,
 4222,
 2109,
 10139,
 5126,
 26576,
 26751,
 55761,
 55661,
 10362,
 1592,
 516,
 79693,
 'null',
 'null',
 127943,
 8763,
 9992,
 'null',
 126374,
 23022,
 4036,
 55068,
 81034,
 84708,
 23389,
 158067,
 80129,
 230,
 2938,
 'null',
 'null',
 26020,
 6372,
 81611,
 1278,
 3161,
 1298,
 5209,
 'null',
 128486,
 51025,
 23174,
 7263,
 23307,
 78991,
 55660,
 6184,
 2212,
 84171,
 'null',
 5371,
 1136,
 10785,
 2894,
 'null',
 1066,
 'null',
 51752,
 57099,
 3930,
 7385,
 'null',
 27122,
 7110,
 338773,
 9643,
 'null',
 3763,
 'null',
 'null',
 239,
 122809,
 57194,
 3161,
 4744,
 55532,
 22919,
 57020,
 80345,
 113510,
 23580,
 5826,
 10383,
 2077,
 221938,
 'null',
 79685,
 3699,
 4640,
 9605,
 212,
 2691,
 6014,
 57664,
 10087,
 145482,
 6236,
 'null',
 115548,
 3776,
 117157,
 56180,
 7056,
 9824,
 80329,
 153020,
 51112,
 286187,
 25797,
 7541,
 55142,
 23220,
 4853,
 122970,
 3440,
 23295,
 1310,
 51234,
 79165,
 1294,
 115708,
 57511,
 6877,
 27299,
 25960,
 1025,
 7084,
 79365,
 4885,
 255189,
 23135,
 2920,
 85021,
 10084,
 57409,
 90627,
 92154,
 2259,
 23286,
 1282,
 8139,
 92400,
 890,
 5575,
 221078,
 84274,
 'null',
 4798,
 6712,
 23065,
 1846,
 22836,
 'null',
 29121,
 221938,
 2140,
 57007,
 7143,
 25819,
 79446,
 64116,
 5034,
 117248,
 79041,
 'null',
 3983,
 149041,
 538,
 'null',
 3549,
 2660,
 1395,
 4720,
 80763,
 4185,
 'null',
 10381,
 26060,
 140836,
 50632,
 10998,
 29886,
 6715,
 6271,
 10586,
 'null',
 3937,
 56924,
 10800,
 1656,
 'null',
 81617,
 9685,
 'null',
 11051,
 629,
 912,
 2597,
 10962,
 9380,
 10134,
 'null',
 'null',
 84365,
 9230,
 23255,
 'null',
 976,
 716,
 83756,
 129446,
 2247,
 1267,
 6347,
 27258,
 80336,
 1577,
 91869,
 120114,
 'null',
 127731,
 'null',
 'null',
 10631,
 'null',
 60488,
 'null',
 1660,
 54577,
 4948,
 55667,
 9517,
 56062,
 58538,
 143879,
 83551,
 151230,
 2863,
 5727,
 51061,
 84976,
 51011,
 27152,
 83546,
 414059,
 54495,
 642273,
 54793,
 222662,
 41,
 11218,
 'null',
 9836,
 55969,
 10972,
 11129,
 7782,
 2920,
 25924,
 23499,
 2633,
 23609,
 55033,
 5894,
 10637,
 'null',
 1805,
 9200,
 27141,
 25816,
 10449,
 9265,
 9093,
 6302,
 51149,
 27330,
 5866,
 142685,
 2652,
 2702,
 7265,
 2029,
 'null',
 4864,
 5309,
 114884,
 5553,
 1869,
 26007,
 9373,
 2695,
 147323,
 9968,
 'null',
 163223,
 5558,
 283417,
 148170,
 285193,
 1050,
 3156,
 83549,
 'null',
 404672,
 9627,
 1629,
 3170,
 'null',
 55170,
 80775,
 1845,
 1665,
 'null',
 'null',
 441376,
 51185,
 3337,
 133746,
 7292,
 1687,
 687,
 133584,
 9819,
 4643,
 'null',
 27112,
 'null',
 20,
 'null',
 6239,
 'null',
 487,
 55294,
 'null',
 79717,
 'null',
 7472,
 5469,
 5557,
 391059,
 1490,
 6730,
 157570,
 'null',
 79723,
 25987,
 2660,
 23235,
 3572,
 1039,
 1662,
 55,
 11281,
 11199,
 8930,
 84513,
 3551,
 9296,
 10254,
 320,
 4700,
 7142,
 'null',
 5042,
 29083,
 79987,
 3146,
 5147,
 30011,
 10863,
 90249,
 'null',
 'null',
 6092,
 79005,
 11140,
 405,
 'null',
 4081,
 81577,
 6627,
 114781,
 8841,
 10574,
 6434,
 8345,
 9644,
 4635,
 5068,
 155184,
 'null',
 4782,
 389136,
 'null',
 7203,
 987,
 57214,
 92691,
 6793,
 'null',
 85007,
 5860,
 2652,
 10912,
 55031,
 84034,
 2475,
 'null',
 81543,
 4702,
 157638,
 891,
 9858,
 54469,
 'null',
 4609,
 8479,
 9126,
 51236,
 4763,
 8820,
 'null',
 627,
 6917,
 55210,
 4720,
 'null',
 10446,
 'null',
 27334,
 64747,
 9341,
 5686,
 919,
 4868,
 8086,
 10884,
 219844,
 84726,
 80254,
 5981,
 1508,
 26084,
 246778,
 10451,
 8139,
 158833,
 8529,
 64223,
 406,
 84525,
 977,
 'null',
 4522,
 'null',
 'null',
 8878,
 1544,
 'null',
 23461,
 'null',
 23657,
 93663,
 10845,
 90594,
 2192,
 5699,
 5915,
 64943,
 79135,
 4620,
 1594,
 'null',
 7133,
 57554,
 'null',
 'null',
 1355,
 10983,
 1066,
 4502,
 2935,
 5443,
 'null',
 56975,
 51655,
 'null',
 9730,
 79817,
 8904,
 55350,
 54681,
 2617,
 83543,
 55647,
 9098,
 10290,
 'null',
 137362,
 6721,
 56204,
 'null',
 2936,
 'null',
 998,
 2330,
 54407,
 27242,
 'null',
 90324,
 3156,
 284716,
 57787,
 55357,
 4125,
 89845,
 58491,
 30837,
 'null',
 56605,
 1141,
 3281,
 55048,
 26468,
 5364,
 64743,
 8349,
 225689,
 7345,
 'null',
 55872,
 63967,
 93166,
 598,
 'null',
 10842,
 79711,
 'null',
 10382,
 276,
 55200,
 115,
 55319,
 1295,
 51706,
 79070,
 'null',
 2267,
 9144,
 51807,
 2153,
 6506,
 221120,
 'null',
 56987,
 'null',
 5067,
 93474,
 7763,
 284076,
 'null',
 23363,
 2099,
 143689,
 56624,
 3321,
 'null',
 222223,
 1843,
 4082,
 9368,
 51602,
 2355,
 50717,
 1942,
 6262,
 7936,
 5979,
 6943,
 6201,
 80206,
 51106,
 'null',
 4804,
 3845,
 3211,
 3398,
 'null',
 4688,
 8467,
 81890,
 53836,
 5074,
 1195,
 130576,
 9846,
 'null',
 6136,
 2139,
 11147,
 'null',
 3635,
 'null',
 57722,
 51764,
 11031,
 284004,
 146857,
 221785,
 22836,
 'null',
 64983,
 10514,
 462,
 9235,
 4734,
 388325,
 'null',
 8651,
 'null',
 1522,
 57647,
 30062,
 1761,
 7018,
 1019,
 'null',
 81619,
 5216,
 'null',
 833,
 200894,
 8642,
 90871,
 115939,
 80781,
 'null',
 6161,
 182,
 8740,
 10207,
 7009,
 6525,
 80194,
 245930,
 10645,
 83401,
 388591,
 78988,
 160851,
 6578,
 9175,
 'null',
 149345,
 100188893,
 'null',
 8195,
 9833,
 157869,
 701,
 10466,
 5925,
 6139,
 55109,
 23450,
 'null',
 1967,
 54551,
 149041,
 5172,
 186,
 25862,
 2028,
 7124,
 84295,
 'null',
 6567,
 246721,
 256126,
 5270,
 9507,
 65109,
 'null',
 10516,
 9120,
 1326,
 57188,
 302,
 22978,
 1234,
 389376,
 8519,
 64801,
 5905,
 23051,
 'null',
 6340,
 3200,
 57102,
 115290,
 4726,
 3092,
 55198,
 9817,
 'null',
 8663,
 84940,
 5451,
 25834,
 85021,
 2539,
 1665,
 11104,
 'null',
 6320,
 348,
 6094,
 1543,
 64121,
 7352,
 5188,
 3945,
 79632,
 84530,
 'null',
 2326,
 'null',
 26580,
 3043,
 'null',
 10589,
 1460,
 57412,
 'null',
 55863,
 2013,
 23468,
 219983,
 54876,
 96459,
 427,
 10993,
 'null',
 506,
 9134,
 51571,
 60684,
 2649,
 2649,
 573,
 60509,
 56180,
 283652,
 6706,
 23271,
 283377,
 3761,
 5696,
 'null',
 26994,
 150353,
 2747,
 10765,
 874,
 8694,
 84220,
 29896,
 1855,
 1268,
 8048,
 10605,
 3911,
 3605,
 10999,
 79631,
 56659,
 987,
 219402,
 8792,
 79577,
 57464,
 467,
 'null',
 7098,
 50617,
 'null',
 'null',
 23150,
 64921,
 55024,
 654429,
 129138,
 121278,
 54518,
 9894,
 91768,
 5888,
 253782,
 6489,
 51807,
 96459,
 9056,
 170392,
 25885,
 4605,
 84733,
 113115,
 27346,
 140683,
 54801,
 4005,
 6716,
 9645,
 477,
 84707,
 6347,
 114971,
 4828,
 9993,
 'null',
 54436,
 285148,
 55081,
 113201,
 8431,
 2752,
 6300,
 3479,
 113730,
 'null',
 57480,
 1992,
 'null',
 64375,
 26123,
 8544,
 2487,
 847,
 55343,
 148254,
 26010,
 8876,
 11068,
 83733,
 196996,
 'null',
 10007,
 6790,
 10592,
 54838,
 57035,
 10973,
 283848,
 80114,
 79867,
 256643,
 56132,
 5627,
 345557,
 1634,
 29121,
 84955,
 340485,
 54985,
 7566,
 70,
 6913,
 'null',
 6596,
 719,
 6624,
 10762,
 112487,
 64855,
 11054,
 2706,
 128344,
 10655,
 'null',
 'null',
 26872,
 9906,
 93183,
 51603,
 9717,
 79746,
 2936,
 55596,
 2532,
 56917,
 2561,
 54490,
 7167,
 2827,
 9329,
 ...]

In [8]:
network['c'] = val_list

In [9]:
network.to_csv('../data/Disease_gene_net.csv')

In [10]:
network

                     a           b      c
0         MESH:D005756  A0A087WZV0   null
1         MESH:D055370      P11464   5669
2         MESH:D007410      Q92945   8570
3         MESH:D014062      Q6ISS4   3904
4         MESH:D054549      Q96RU8  10221
...                ...         ...    ...
15509614  MESH:D006086      E9PDE8   null
15509615  MESH:D002869      O95994  10551
15509616  MESH:D009182      E9PFI4   null
15509617  MESH:D015433  A0A087WWV9   null
15509618  MESH:D009135      P51589   1573

[15509619 rows x 3 columns]